body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/127/954/original/abstract-template-blue-background-white-squares-free-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}