<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarships</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
      <a href="https://frontend-hackathon.thetpaingdana.repl.co/Template/account.html">
        <button>UniBridge</button>
      </a>
    <ul>
        <h2>About</h2>
        <p>A group of college students of different backgrounds who understands the struggle of college applications, envision giving back and sharing our experience to help aspiring students with their education. 
        </p><p></p>The overall goal of our project is to help high school/ college students aiming to get into 4-year institutions find resources and connect with other students.

</p>
</body>
</html>