<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scholarships</title>
  <link rel="stylesheet" href="/css/about.css">
</head>

<body>
  <a href="https://frontend-hackathon.thetpaingdana.repl.co/Template/account.html">
    <button>UniBridge</button>
  </a>
  <ul>
    <h2>About</h2>
    <p>Kelly Lwin: phyulwin73929@gmail.com</p>
    <p>May Moe: vickymaymeemoe@gmail.com</p>
    <p>Min Aung Paing: minaungpaing.pp@gmail.com</p>
    <p>Ruhma Hashmi: ruhmahashmi@hotmail.com </p>
    <p>Thet Paing Da Na: thetpaing220991@gmail.com</p>


</body>

</html>
