<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Discussion Posts</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="../css/discussion.css">
</head>

<body>
  <!-- Menu Bar -->
  <nav class="menu-bar">
    <!-- Clickable Logo -->
    <a href="https://frontend-hackathon.thetpaingdana.repl.co/Template/discussion.html">
      <img src="../Assets/Unibridge_Logo_png.png" alt="Logo" width="40" height="20">
    </a>
    <ul class="menu-items">
      <li><a href="/Template/account.html">My Portfolio</a></li>
      <li><a href="https://www.cappex.com/colleges" target="_self">Cappex - College Search</a></li>
      <li><a href="#">Post Discussion</a></li>
      <!--<li><a href="/Template/contact.html">Contact</a></li>-->
    </ul>
  </nav>

  <!-- Discussion Posts Container -->
  <div class="main-content">
    <div class="discussion-posts">
      <div class="discussion-post">
        <p style="color: darkgrey;">Posted by @mady23pham on 05/30/2023</p>
        <h2>I am a former College Application reader and current College Counselor. Ask me how COVID-19 will impact
          college admissions or AMA!</h2>
        <p>Each year I host a 5-day College Admissions Intensive that provides students with access to college
          representatives and necessary practice that will polish their applications. But, as we’ve all seen, this
          pandemic has led to a number of changes within the education system...<b>See More</b></p>
        <button class="reaction-button">Like</button>
        <button class="reaction-button">Dislike</button>
        <button class="share-button">Share</button>
        <button class="comment-button">Comment</button>
      </div>

      <div class="discussion-post">
        <p style="color: darkgrey;">Posted by @user_9876 on 01/18/2023</p>
        <h2>Biggest mistake in the entire college application process</h2>
        <p>Selecting that option in the past in freshman year to let college board give people my emails... It's
          definitely a good practice to plan for the worst, but you should celebrate any acceptance! It should feel
          great to be shown the results of all your hard work...<b>Show More</b></p>
        <button class="reaction-button">Like</button>
        <button class="reaction-button">Dislike</button>
        <button class="share-button">Share</button>
        <button class="comment-button">Comment</button>
      </div>

      <div class="discussion-post">
        <p style="color: darkgrey;">Posted by @jason_var34 03/23/2023</p>
        <h2>If you could use two words to describe your entire college application process, what would they be?</h2>
        <p>The college application process can be challenging due to its complexity and competitiveness. Students often
          have to manage multiple application requirements, write essays, gather recommendation letters, and meet
          various deadlines. The process can be...<b>See More</b></p>
        <button class="reaction-button">Like</button>
        <button class="reaction-button">Dislike</button>
        <button class="share-button">Share</button>
        <button class="comment-button">Comment</button>
      </div>

      <div class="discussion-post">
        <p style="color: darkgrey;">Posted by @random_user123 on 08/15/2023</p>
        <h2>I wrote 1,655 words about my college application process to help current juniors (and younger people) with
          theirs.</h2>
        <p>I graduate in about week and haven’t been spending much time on here lately because my college apps process
          is done. I’ve been meaning to write something like this for a while but just never got around to it because I
          kept putting it off. I’m going to list off some tips that helped me during the process...<b>See More</b></p>
        <button class="reaction-button">Like</button>
        <button class="reaction-button">Dislike</button>
        <button class="share-button">Share</button>
        <button class="comment-button">Comment</button>
      </div>
    </div>
    
    <div class="sidebars">
      <div class="sidebar">
        <h3>Filter Discussions</h3>
        <div class="search-box">
        <input type="text" placeholder="Search using keywords">
        <i class="fas fa-search"></i>
        </div>
       
        <ul class="beautiful-links">
           <h3>Admission Resources</h3>
          <li><a href="https://frontend-hackathon.thetpaingdana.repl.co/Template/volunteer.html">Volunteer
              Opportunities</a></li>
          <li><a href="https://frontend-hackathon.thetpaingdana.repl.co/Template/scholarships.html">Scholarship
              Websites</a></li>
          <li><a href="https://ingeniusprep.com/blog/2022-college-acceptance-rates/">2021-2022 Admission Data</a></li>
          <li><a href="https://ingeniusprep.com/blog/2021-college-acceptance-rates/">2020-2021 Admission Data</a></li>
          <li><a href="https://oir.usc.edu/wp-content/uploads/2020/07/CDS_2019-2020_FINAL.pdf">2019-2020 Admission Data</a></li>
        </ul>
      </div>

      <div class="sidebar">
        <h3>Connect with Virtual Mentors &#129493;</h3>
        
        <ul class="beautiful-links">
          
          <li><a href="https://frontend-hackathon.thetpaingdana.repl.co/Template/Emily.html">Emily (she/her)</a></li>
          <li><a href="https://frontend-hackathon.thetpaingdana.repl.co/Template/James.html">James (he/him)</a></li>
          
        </ul>
        <!--<div class="profile-container">
          <img class="profile-image" src="https://replit.com/@ThetPaingDaNa/Frontend-Hackathon#Assets/christina-wocintechchat-com-_5_CBVCLBsY-unsplash.jpg" alt="Profile Picture">
          <div class="profile-name">Emily Dustin</div>
        </div> -->
      </div>
    </div> <!--end of sidebars div -->

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/64bcb4bccc26a871b02aa57d/1h60i4001';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>
