<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarships</title>
    <link rel="stylesheet" href="/css/scholarships.css">
</head>
<body>
    <a href="https://frontend-hackathon.thetpaingdana.repl.co/Template/discussion.html" id="logo-link">
        <img src="../Assets/Unibridge_Logo_png.png" alt="Logo" width="200" height="240" id="logo-image">
    </a>
    <h1>&#x2728;Scholarship Websites&#x2728;</h1>
    <ul>
        <li><a href="https://www.collegexpress.com/scholarships/" target="_self">CollegeBoard Scholarship Search</a></li>
        <li><a href="https://bigfuture.collegeboard.org/scholarship-search" target="_self">CollegeXpress</a></li>
        <li><a href="https://www.fastweb.com/" target="_self">Fastweb</a></li>
        <li><a href="https://myscholly.com/" target="_self">MyScholly</a></li>
        <li><a href="https://www.scholarships.com/" target="_self">Scholarships.com</a></li>
        <li><a href="https://www.unigo.com/" target="_self">Unigo</a></li>
    </ul>
</body>
</html>
